
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="login"  *ngIf="!isAnonymous">log-in</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a routerLink="register"  *ngIf="!isAnonymous"> register</a>
            </li>
            <li *ngIf="isAnonymous" routerLinkActive="active" class="nav-item">
                <a routerLink="logout"  *ngIf="isAnonymous" (click)="deleteUserFromLocalStorage()">logout</a>
            </li>
        </ul>
       
    </div>
</nav>
<router-outlet></router-outlet>