
<!-- 
<P>
  title:
 {{book.volumeInfo.title}}
</P>
<P *ngIf="book.volumeInfo.subtitle">
  subtitle:
 {{book.volumeInfo.subtitle}}
</P>
<div >
<input type="button" value="view deatails" (click)="viewDeatails()"  >

</div> --> 



   
<div class='card'>
    <img src='{{book.volumeInfo.imageLinks}}?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260'>
    <div class='card-body'>
      <div class='card-text'>
        <h3>{{book.volumeInfo.title}}</h3>
        <p>
            {{book.volumeInfo.subtitle}}
        </p>
      </div>
      <input type="button" value="view deatails" (click)="viewDeatails()"  >
    </div>
  </div> 
  